
<% @perks.each do |perk| %>
<div class="perks">
	<div class="nombre">
		<%= perk.title %>
	</div>
	<div class="descripcion">
		<p><strong>Descripción:</strong></p>
		<p><%= perk.description %></p>
		</br>
		<p><strong>Precio :</strong><%= perk.price %></p>
		<p><% @image2 = Image.find(perk.image_id)%>
		<img src="<%= @image2.image_url %>"></p>
		</br>
	</div>
</div>
<% end %>