<%= render partial: '/projects/menu', locals: {project: @project} %>
<br/ ><br/ ><br/ >
<% if @permiso %>
<%= link_to 'Nuevo Comentario', "/comments/new/" + @project.id.to_s %>
<% end %>
<br/ >
<h1>Listado de Comentarios</h1>
<table>
  <thead>
    <tr>
      <th>Comentarios</th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr aling="center">
        <td style= "background-color:#00ff00;"> usuario: <%= comment.user.username %></td>
      </tr>
      <tr aling="center">  
        <td> comentario: </br> <%= comment.comments %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


