<%= render partial: '/projects/menu', locals: {project: @project} %>
<br/ ><br/ >
<h1>Listado de Comentarios</h1>

<table>
  <thead>
    <tr>
      <th>Comentarios</th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr aling="center">
        <td ><%= comment.user.username %></td>
      </tr>
      <tr aling="center">  
        <td><%= comment.comments %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Comentario', "/comments/new/" + @project.id.to_s %>
