<div class="founder">
	<div class="tarjeta">
		<img>
		<div class="datos">
			<p><strong>Nombre:</strong></p>
			<p><strong>Cantidad:</strong></p>
			<p><strong>Fecha:</strong></p>						
		</div>		
	</div>
</div>