<div class="container">
	<div id="content-slider">
    	<div id="slider">
        	<div id="mask">
            <ul>
           	<li id="first" class="firstanimation">
            <a href="#">
            <img src="/slideshow/img_1.jpg" alt="Cougar"/>
            </a>
            <div class="tooltip">
            <h6>Cougar</h6>
            </div>
            </li>

            <li id="second" class="secondanimation">
            <a href="#">
            <img src="/slideshow/img_2.jpg" alt="Lions"/>
            </a>
            <div class="tooltip">
            <h6>Lions</h6>
            </div>
            </li>
            
            <li id="third" class="thirdanimation">
            <a href="#">
            <img src="/slideshow/img_3.jpg" alt="Snowalker"/>
            </a>
            <div class="tooltip">
            <h6>Snowalker</h6>
            </div>
            </li>
                        
            <li id="fourth" class="fourthanimation">
            <a href="#">
            <img src="/slideshow/img_4.jpg" alt="Howling"/>
            </a>
            <div class="tooltip">
            <h6>Howling</h6>
            </div>
            </li>
                        
            <li id="fifth" class="fifthanimation">
            <a href="#">
            <img src="/slideshow/img_5.jpg" alt="Sunbathing"/>
            </a>
            <div class="tooltip">
            <h6>Sunbathing</h6>
            </div>
            </li>
            </ul>
            </div>
            <div class="progress-bar"></div>
        </div>
    </div>
</div>