<div class="project_menu">
	<ul>
		<li><a href="#">About</a></li>
		<li><a href="projects/amends/:id">Update</a></li>
		<li><a href="#">Comments</a></li>
		<li><a href="#">Founders</a></li>
		<li><a href="#">Gallery</a></li>
	</ul>				
</div>