<div class="project_menu">
	<ul>
		<li><a href="#">About</a></li>
		<li><a href="projects/amends/@projects.id">Update</a></li>
		<li><a href="projects/comments/:id">Comments</a></li>
		<li><a href="projects/funders/:id">Founders</a></li>
		<li><a href="projects/galleries/:id">Gallery</a></li>
	</ul>				
</div>