/*-------reset-----------------*/

body,div,dl,dt,dd,ul,ol,li,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}
del,ins{text-decoration:none;}
li{list-style:none;}
caption,th{text-align:left;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:baseline;}
sub{vertical-align:baseline;}
legend{color:#000;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{*font-size:100%;}

/*-------genericos-----------------*/

body{
   background-color: #E0E0E0;
   font-size: 14px;
}

.header{
   width: 960px;
   height: 80px;
   margin:0 auto 0 auto;
   background-color: #B0B0B0;
   padding-top: 20px;
}

.header h1{
   text-align: center;
   font-size: 35px;
   color: #FFFFFF;
}


.breadcrumb{
   width: 960px;
   min-height: 10px;
   margin:0 auto 0 auto;  
   font-size: 10px;
   font-weight: bold;
   background-color: #383838; 
}

.breadcrumb .linea{
   margin: 5px;
   color:#FFFFFF;
   text-align: left;
}


.content{
   width: 960px;
   min-height: 400px;
   min-height: auto;
   margin:0 auto 0 auto;  
   background-color: #f2f2f2;
   overflow: hidden; /*--para que el cuadro agarre todo lo interno.---*/
}

.content .interior{
   padding: 20px; 
}

.footer{
   width: 960px;
   height: 20px;
   margin:0 auto 0 auto;   
   background-color: #B0B0B0;
   font-size: 10px;
}

.footer li{
   float: left;
   width: 220px;
   list-style: none;
   text-align: center;
   padding: 2px;
}

h1,h2,h3,h4,h5,h6{
   font-size: 20px;
   color: #000000;
   text-align: center;
   font-weight:bold;
}

h2{
   font-size: 25px;
}

h3{
   font-size: 30px;
}

h4{
   font-size: 35px;
}

h5{
   font-size: 40px;
}

h6{
   font-size: 45px;
}

.boton {   
   font-size: 13px;
   font-weight: 900;
   padding-top: 5px;
   padding-bottom: 5px;
   min-width: 100px;
   max-width: auto;
   height: 30px;
   border: 2px solid;   
   border-radius: 5px;  
   color: #FFFFFF;   
   background-color: #585858; 
   border-color: #585858;
   margin:0 auto 0 auto;
} 
       
 .boton:hover { 
   background: #c6c7c9;
   border-color: #c6c7c9;       
}

form{
   padding: 20px;
}

table{
  width: 850px;
  margin: 0 auto 0 auto;
  border: 1px solid #000000;
}

th{
   background-color: #585858;
   color: #FFFFFF;

}

tr,td,th{
   padding: 5px;
}

a{
   color: #000000;
}

a:link{
}

a:visited{  
}

a:active{
}

a:hover{
   font-weight: bold;
}

input:focus{
  background-color: #f2f2f2;
}

/*-------------------------------------------error_explanation------------------*/

#error_explanation {
  width: 450px;
  border: 2px solid #995151;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2{
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #995151;
    color: #fff;
  }

#error_explanation ul li {
   margin: 5px 5px 5px 25px;
  }


#error_explanation  ul li {
    font-size: 12px;
    list-style: square;
  }

#field_with_errors{
  padding: 2px;
  background-color: #995151;
  color: #FFFFFF;
  display: table;   
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: #995151;
  color: #FFFFFF;
  display: table;
}

/*-------------------------------------------founders vista parcial _founders.html.erb------------------*/

.founder{
  width: 698px;
  height: 248px;
  border: 1px solid #000000;
  margin:10px auto 10px auto;
}

.founder img{
  float: left;
  height: 200px;
  width: 200px;
  padding: 24px;

}

.founder .datos{
  float: right;
  width: 400px;
  height: 200px; 
  padding: 24px;  
}

.founder .datos p{
  font-size: 20px;
  margin-top:10px; 
}

.founder .datos p strong{
  font-weight: bold;
}

/*--------------------------------------proyects-----------------------------------------------------*/


/*-------show proyects------*/

.show_proyects{
  width: 698px;
  height: auto;
  border: 1px solid #000000;
  margin:30px auto 0 auto;
  text-align: center;
  float: left;
  display: block;
}

.show_proyects .titulo{
 width: 100%;
 min-height: 25px;
 background-color: #666666;
 color: #FFFFFF;
 font-size: 20px;
 padding-top: 5px;
 text-align: center;
 margin: 10px auto 0 auto;
 position: relative;
}

.show_proyects .datos{
 width: 500px;
 min-height: 25px;
 font-size: 20px;
 padding: 10px;
 text-align: left;
 position: relative;
}

.show_proyects .datos strong{
  font-weight: bold;
}


.show_proyects img{ 
 text-align: center;
 min-width: auto;
 height: auto;  
 max-width: 650px;
 margin-top: 20px;
 background-color: #ffffff;
}

/*--------------------------------------images-----------------------------------------------------*/



/*-------show images------*/

.show_images{
 width: 900px;
 min-height: 300px;
 border: 2px solid #000000;
 margin: 0 auto 0 auto;
 position: relative;
 text-transform: capitalize; 
 text-align: center;
}

.show_images .ruta{
 width: 100%;
 min-height: 25px;
 background-color: #666666;
 color: #FFFFFF;
 font-size: 20px;
 padding-top: 5px;
 text-align: center;
 margin: 10px auto 0 auto;
 position: relative;
}

.show_images img{ 
 text-align: center;
 min-width: auto;
 height: auto;  
 max-width: 850px;
 margin-top: 20px;
 background-color: #ffffff;
}

/*--------------------------------------perks-----------------------------------------------------*/
/*-------------------------------------------perks vista parcial _perks.html.erb------------------*/

.perks{ 
  width: 200px;
  height: auto;
  margin:10px 10px 0 auto;
  float: right;
}

.perks .nombre{
  width: 188px;
  height: 17px;
  border: 1px solid #000000;
  text-align: left;
  font-size: 15px;
  color: #FFFFFF;
  background-color: #666666;
  padding: 5px;
}

.perks .descripcion{
  width: 188px;
  max-height: 210px;
  overflow: scroll;
  border: 1px solid #000000;  
  padding: 5px;
}

.perks .descripcion p{
  font-size: 15px;
  margin-top:10px; 
}

.perks .descripcion p strong{
  font-weight: bold;
}

/*-------show perks------*/
.show_perks{
 width: 900px;
 min-height: 300px;
 border: 2px solid #000000;
 margin: 0 auto 0 auto;
 position: relative;
 text-transform: capitalize; 
}

.show_perks .titulo{
 width: 850px;
 min-height: 25px;
 background-color: #666666;
 color: #FFFFFF;
 padding: 10px;
 font-size: 20px;
 text-align: center;
 margin: 10px auto 0 auto;
 position: relative;
}

.show_perks .contenedor{ 
 width: 850px;
 margin: 10px auto 10px auto;
}

.show_perks img{ 
 min-width: 300px;
 min-height: 300px;  
 width: 300px;
 height: 300px;
 max-width: 300px;
 max-height: 300px; 
 margin-left: 40px;
 background-color: #ffffff;
}

.show_perks .datos{ 
 width: 500px;
 height: 300px;
 background-color: #ffffff;
 float: left;
}

.show_perks .datos p{ 
  color: #666666;
  font-size: 16px;
  margin-left: 10px;
  margin-top: 10px;
  text-align: left;
}

.show_perks .descripcion{ 
 width: auto;
 height: 185px;
 margin: 10px auto 10px auto;
 position: relative;
 padding: 10px;
 overflow:scroll;
 background-color: #f2f2f2;
}

.show_perks strong{ 
  font-weight: bold;
  font-size: 14px;
}

.show_perks .descripcion p{ 
  color: #666666;
  font-size: 14px;
  margin-left: 10px;
  margin-top: 20px;
  text-align: left;
}

/*------------------------------------Menus-------------------*/

/* ----Menu desplegable --------*/
  .project_menu {
     font-family:Arial, Helvetica, sans-serif;
     font-size:13px;
     font-weight:bold;  
   }

   .project_menu ul {
     float:left;
     height:0px;
     list-style:none;
     margin:0;
     padding:0;
   }

   .project_menu li{
     float: inherit;
     padding:0px;
     width:116px;
     height: 26px;
     border:2px solid;
     border-color: #f2f2f2;
     background-color:#b3b3b3;
   }

   .project_menu li a{
     color: #FFFFFF; /* Color de la fuente */
     display:block;
     margin:0px;
     padding-top:5px;
     height: 26px;
     text-align:center;
     text-decoration:none;
    }

   .project_menu li a:hover, .project_menu ul li:hover a {
     background: #666666; /* Color de las pestañas al pasar el cursor va en info y mod */
     color:#FFFFFF; /* Color del texto al pasar el cursor */
     height:21px;
     text-decoration:none;
   }

   .project_menu li ul {
     float:inherit;
     background:#002569; /* Color de fondo del submenú */
     display:none;
     height:auto;
     padding:0px;
     margin:0px;
     position:absolute;
     width: 300px; /* Ancho del submenú */
     z-index:100;
     border-top:1px solid #f2f2f2;  /*Borde superior del submenú */
     text-align:right;
   }
     
   .project_menu li:hover ul{
    display:block;
   }
   
   .project_menu li li {
     display:block;
     float:none;
     margin:0px;
     padding:0px;
     width: auto;
     }
   
   .project_menu li:hover li a {
     background:none;
   }
   
   .project_menu li ul a {
     display:block;
     height:55px; /*alto entre cada punto de submenu*/
     font-size:13px;
     margin:0px;
     text-align:left;
     margin-left:10px;
     background-color:#666666;
   }
   
   .project_menu li ul a:hover, .project_menu li ul li:hover a{
     background:#666666; /* Color de las subpestañas al pasar el cursor */
     color:#FFFFFF;
     text-decoration:none;
  }


/*-------------------------------------------status vista parcial _status.html.erb------------------*/

.estatus{
  width: 198px;
  min-height: 98px;
  max-height: auto;
  margin:30px 10px 0 auto;
  border: 1px solid #000000;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;  
  float: right;
}

.estatus p:first-of-type{
  font-size: 16px;
  margin-top:5px; 
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  border-bottom: 1px solid #000000;
}

.estatus p{
  font-size: 16px;
  margin-top:10px; 
  margin-left: 10px;
}

.estatus p strong{
  font-weight: bold;
}

