<p id="notice"><%= notice %></p>

<div class="show_images">
	<div class="ruta"><strong>Imagen</strong></div>
	<div class="imagen"><img src="<%= @image.image_url %>"></div>
</div>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
