<div class="header">
  <h1>Bienvenido a Crowsourcing!</h1>
  <% if session[:uname] %>
  	<p> estas conectado como <%= session[:uname] %>  |   <%= button_to 'Logout', logout_path, method: :delete %></p>
  <% else %>
  	<p> estas conectado como visitante  | <%= link_to "Entrar", login_url %>	 </p>
  <% end %>
  </br>
   <% if session[:uname] %>
  	<p>hola <%= session[:user_name_complete] %></p>
   <% end %> 
</div>